<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] %-5level %class{1}.%method\(\):%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="de.hauschild.kompute" level="INFO"/>
    <logger name="de.hauschild.kompute.opengl.backend" level="DEBUG"/>
    <logger name="de.hauschild.kompute.vulkan.backend" level="DEBUG"/>
</configuration>
